<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a class="lead" mat-button [routerLink]="['/']">
      <mat-icon class="iconmargin">delete_sweep</mat-icon>
      <span>Smartbins</span>
    </a>

    <a *ngIf="!!user" mat-button [routerLink]="['/engage']">
      <mat-icon class="iconmargin">star</mat-icon>
      <span>Engage</span>
    </a>
    <a *ngIf="!!user && !!user.displayName" mat-button [routerLink]="['/manage']">
      <mat-icon class="iconmargin">map</mat-icon>
      <span>Manage</span>
    </a>
    <span style="flex: 1 1 0"></span>
    <button *ngIf="!user" mat-button (click)="logingoogle()">
      <mat-icon class="iconmargin">login</mat-icon>Google Signin
    </button>
    <button *ngIf="!!user" mat-button [matMenuTriggerFor]="menu">
      <span *ngIf="!!user.displayName">{{user.displayName}}</span>
      <span *ngIf="!user.displayName">Anonymous</span>
    </button>
    <mat-menu  #menu="matMenu">
      <button *ngIf="!!user && !user.displayName" mat-menu-item (click)="linkanonymous()">
        <mat-icon>account_circle</mat-icon>
        <span>Link Account</span>
      </button>
      <button *ngIf="!!user && !!user.displayName" mat-menu-item (click)="changeuser()">
        <mat-icon>account_circle</mat-icon>
        <span>Switch User</span>
      </button>
      <!-- <button mat-menu-item (click)="logout()">
        <mat-icon>account_circle</mat-icon>
        <span>Logout</span>
      </button> -->
    </mat-menu>
    <img *ngIf="!!user" [src]="user.photoURL" default="/assets/images/user.svg" class="userimage">
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>

<ng-snotify></ng-snotify>
