.content {
    flex: 1 0 auto;
}

.userimage {
    height: 40px;
    border-radius: 20px;
    margin-left: 10px;
}

.iconmargin {
    margin-right: 8px;
}

.lead {
    background-color: #3f51b5;
    color: white;
    mat-icon {
        color: white;
    }
    mat-icon.logo {
        font-size: 50px;
        height: 50px;
        width: 50px;
        margin-right: 20px;
    }
    span {
        font-weight: 200;
        font-size: 30px;
        flex: 1 1 auto;
        text-align: left;
    }
}

.warning {
    text-align: center;
    font-weight: bold;
    background-color: lightyellow;
}

.spacer {
    flex: 1 1 auto;
}

.userimage {
    height: 40px;
    border-radius: 20px;
}

.leftmargin {
    margin-left: 20px;
}
.leftmargin_sm {
    margin-left: 5px;
}

.main {
    a, a:focus, a:link, a:visited, a:active {
        opacity: 0.8;
        color: white !important;
        transition: 0.3s all ease-in;
    }
    a:hover {
        opacity: 1;
        color: white !important
    }

}

.topheading {
    padding: 20px;
    background-color: #3f51b5;
    color: white;
    mat-icon {
        color: white;
    }
    mat-icon.logo {
        font-size: 50px;
        height: 50px;
        width: 50px;
        margin-right: 20px;
    }
    span {
        font-weight: 200;
        font-size: 30px;
        flex: 1 1 auto;
        text-align: left;
    }
}

.title mat-icon {
    transform: scale(1.4);
}

.navlist {
    min-width: 300px;
    height: 100%;
    padding-top: 0;
    .mat-list-item {
        font-size: 20px;
        mat-icon {
            font-size: 30px;
            width: 30px;
            height: 30px;
            color: #3f51b5;
        }
        &:nth-child(odd) {
            background-color: #eee;
        }
    }
}

.fullwidth {
    width: 100%;
}

.fullheight {
    min-height: calc(100vh);
}

.footer {
    text-align: center;
    flex-shrink: 0;
    background-color: #333333;
    color: white;
    padding: 15px;
}

