.userimage {
    height: 40px;
    border-radius: 20px;
    margin-left: 10px;
}

.iconmargin {
    margin-right: 8px;
}

.lead {
    font-size: 20px;
}

.warning {
    text-align: center;
    font-weight: bold;
    background-color: lightyellow;
}