<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon>delete_sweep</mat-icon>
    <span>Smartbins</span>
    <button *ngIf="!loggedin" mat-button (click)="logingoogle()">Google Signin</button>
    <button *ngIf="loggedin" mat-button (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>


<agm-map *ngIf="!!location" [latitude]="location.latitude" [longitude]="location.longitude">
  <agm-marker [latitude]="location.latitude" [longitude]="location.longitude"></agm-marker>
</agm-map>

<ng-snotify></ng-snotify>
