<!--TODO Probabe sections that can come here

  TOP: carousel nicely styled
  Analytics: total count of how many people have used and benefited, reward points earned thus far. // COOK
  // number of people
  // number of bins
  // total reward points earned
  Features: what does this application do
  Blogs: some blogging tab that hosts the blog, inspiring stories
  Social sharing: share on facebook
  Share your story
  community services
-->
<div class="main">
<app-carousel [content]="content"></app-carousel>
<div class="analytics" fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="100px" fxLayoutAlign="center center">
  <app-animated-counter class="analytic child" count="10" label="Users"></app-animated-counter>
  <app-animated-counter class="analytic child" count="7" label="Bins"></app-animated-counter>
  <app-animated-counter class="analytic child" count="1432" label="Rewards"></app-animated-counter>
</div>

<div class="analytics" fxLayout.xs="row" fxLayoutGap="9px" fxLayoutAlign="center center">
  <mat-card> 
    <mat-card-title>Features of Smarttbin</mat-card-title>
    <mat-card-subtitle>Highlights of smartbin</mat-card-subtitle>
  </mat-card>
</div>


<div  fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center" > 
  <div class="card" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let card of cards">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{card.title}}</mat-card-title>
      </mat-card-header>
      <mat-icon>{{card.icon}}</mat-icon>
      <mat-card-content>
        <p>{{card.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]='[card.action]'>EXPLORE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
</div>
 