<!--TODO Probabe sections that can come here

  TOP: carousel nicely styled
  Analytics: total count of how many people have used and benefited, reward points earned thus far. // COOK
  // number of people
  // number of bins
  // total reward points earned
  Features: what does this application do
  Blogs: some blogging tab that hosts the blog, inspiring stories
  Social sharing: share on facebook
  Share your story
  community services
-->
<div class="main">
  <app-carousel [content]="content"></app-carousel>
  <div class="analytics" fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="100px" fxLayoutAlign="center center">
    <app-animated-counter count="10" label="Users" footnote="system wide"></app-animated-counter>
    <app-animated-counter count="7" label="Bins" footnote="managed by us"></app-animated-counter>
    <app-animated-counter count="1432" label="Rewards" footnote="delivered thus far"></app-animated-counter>
  </div>

  <h1 class="lead">Features</h1>


  <div class="features" fxLayout="row wrap" fxLayoutAlign="center baseline">
    <mat-card *ngFor="let card of cards">
      <mat-icon>{{card.icon}}</mat-icon>
      <h2>{{card.title}}</h2>
      <p>{{card.description}}</p>
    </mat-card>
  </div>
</div>